.search-form{
  min-height: 10vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background: lightcoral;
  border:none;
  padding:10px 20px;
  color:white ;
}

